.dashboard {
    .dashboard-title {
        font-weight: bold;
        text-align: left;
        font-size: 20px;
        border-bottom: 1px solid #bebebe;
    }

    .dashboard-row {
        margin-bottom: 20px;
    }

    .order-box {
        padding: 20px 0;

        .order-title {
            font-weight: bold;
        }

        .order-number {
            font-weight: bold;
            font-size: 30px;
            color: #0d6efd;
        }
    }

    .dashboadr-order {
        display: flex;
        align-items: center;
        justify-content: center;

        .order-icon {
            svg {
                font-size: 40px;
                color: orange;
            }
        }
    }
}

.br-l-2 {
    border-left: 2px solid #bebebe;
}

.br-r-2 {
    border-right: 2px solid #bebebe;
}

.br-t-2 {
    border-top: 2px solid #bebebe;
}

.mb-20 {
    margin-bottom: 20px;
}